 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
    background: #777;
    width: 960px;
  }
  
  header{
      background: #ebebeb;
  }

  section{
    background: #ebebeb;
  }

  aside{
    background: #ebebeb;
  }

  footer{
    background: #ebebeb;
  }